apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # Replace with your email address so you can be notified of expiring certificates
    email: ${email}
    # CAUTION - this is using LE production!!! Watch out for rate-limiting!
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      # The secret that holds the generated private key used to communicate with Let's Encrypt
      name: letsencrypt-prod-account-key
    solvers:
    - dns01:
        azureDNS:
          clientID: ${client_id}
          clientSecretSecretRef:
            name: azuredns-config
            key: CLIENT_SECRET
          subscriptionID: ${subscription_id}
          tenantID: ${tenant_id}
          resourceGroupName: ${az_resource_group}
          hostedZoneName: ${dns_zone_name}
