apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # Replace with your email address so you can be notified of expiring certificates
    email: ${email}
    # This is using LE for production so beware of rate-limiting!
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      # The secret that holds the generated private key used to communicate with Let's Encrypt
      name: letsencrypt-prod-account-key
    solvers:
    - dns01:
        cloudDNS:
          project: ${project}
          serviceAccountSecretRef:
            name: dns-sa-creds
            key: credentials.json
