
secret_key          =   "placeholder"
access_key          =   "placeholder"
subnet_count        =   "placeholder"
keypair_name        =   "placeholder"
cluster_name        =   "placeholder"
location            =   "placeholder"